@import url('https://fonts.cdnfonts.com/css/harry-potter');

* {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: 'Harry Potter', sans-serif;

}

body {
  background-color: #f5ebdc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  margin-top: 60px;

}

label {
  padding: 5;
}

/* estilo para o formulário */
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 10px;
  background-color: #F2911B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ce7100;

}

#iframefooter {
  bottom: 0px;
  margin-bottom: -5px;
}