@import url('https://fonts.cdnfonts.com/css/harry-potter');

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0;
  background-color: #F2911B;
  color: white;
  height: 100px;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  background-color: #f5ebdc;
  font-family: 'Harry Potter', sans-serif;

}