body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  height: 100%;
  width: 100%;
  position: fixed;

}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

nav a:hover {
  color: #ffc107;
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 5px;
}

nav a:active {
  color: #f44336;
}