<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meu site</title>
    <link rel="stylesheet" href="header-rev.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="#" class="logo">
          <img src="../assets/images/logo-white.png" alt="Logo do site" width="64px">
        </a>
        <nav>
          <ul>
            <li><a href="#">Página inicial</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
